{% extends 'parking/base.html' %}

{% block content %}
    <ul class="messages" id="messages-list">
        {% if messages %}
            {% for message in messages %}
                <li>
                    {% if message.tags %}
                        <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h6>Select time to book:</h6>
    <form class="form-inline" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">enter</button>
    </form>
    <br>
    {% if info %}
        <h6>{{ day }} time taken for a place №{{ place_number }}:</h6>
        <br>
        {% for i in info %}
            <p>{{ i.start_time|time:"H:i" }} - {{ i.end_time|time:"H:i" }}</p>
        {% endfor %}
    {% else %}
        <h6>{{ day }} place №{{ place_number }} is free</h6>
    {% endif %}

{% endblock content %}